<body>
  <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
  <link rel="stylesheet" href="./semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css.css">
  <link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
  <div class="modal hidden">
    <div class=centeredOverlay>
      <h1>This is Tipical...</h1>
      <h3>Tipical is a simple anonymous tips app.  Search for your city using the far-right text box.  If someone has left a tip, it will show up!</h3>
        <h2>Click on the map to drop a pin, then give it a tip using upper left text box.</h2>
      <p>Tipical was created as a learning exercise early in the Thinkful coding bootcamp for Node, Mongo/Mongoose, and OpenLayers.  It was made by <a href="http://www.zachwilliams.xyz">Zachary Williams</a> and Thien Pham.</p>
    </div>
  </div>
  <div id="map" class="map"></div>
  <div class="overlay">
    <div class= "ui menu inverted">
      <p class="ui header item"></p>
      <a href="/app"><h3 id="logo" class=" ui header item">Tipical</h3></a>
      <a id="about" class="ui header floated left item">What is Tipical?</a>
      <form class="ui huge form search">
        <div class="inline field">
          <input class="inverted fluid" id="tip-field" type="text" placeholder="Type a Tip Here!">
          <button class = "ui button white inverted" id="tip-submit-button">add tip at active location</button>
        </div>
      </form>
      <form class="ui huge form search">
        <div class="inline field">
          <input class="inverted fluid" id="search-field" type="text" placeholder="Enter your city...">


          <button class = "ui button white inverted" id="search-button">Search</button>
        </div>
      </form>
    </div>

    </div>

    <div id="posts" class="ui one column container"></div>
  </div>
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/e5da894dce.js"></script>
<script src="./semantic.min.js"></script>
<script src="https://openlayers.org/en/v4.2.0/build/ol.js"></script>
<script src="app.js"></script>
